{% extends "base.html" %}

{% block content %}
<div class="container px-4 px-lg-5 my-5">
    <div class="text-center">
        <h2 class="display-4 fw-bolder">Добавление товара</h2>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-6">
            <form method="post" action="/product/add_product" enctype="application/json">
                <div class="mb-3">
                    <label for="name" class="form-label">Название товара</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Описание товара</label>
                    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                </div>
                <div class="mb-3">
                <label for="category" class="form-label">Категория</label>
                <select class="form-select" id="category" name="category" required>
                    <option value="electronic">Электроника</option>
                    <option value="home_goods">Товары для дома</option>
                    <option value="clothing">Одежда</option>

                </select>
            </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Цена</label>
                    <input type="number" class="form-control" id="price" name="price" step="0.01" required>
                </div>
                <div class="mb-3">
                    <label for="brand" class="form-label">Бренд</label>
                    <input type="text" class="form-control" id="brand" name="brand" required>
                </div>
                <button type="button" onclick="addProduct()">Добавить товар</button>
            </form>
        </div>
    </div>
</div>
<script>
    async function addProduct() {
        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;
        const category = document.getElementById('category').value;
        const price = document.getElementById('price').value;
        const brand = document.getElementById('brand').value;

        const data = {
            "name": name,
            "description": description,
            "category": category,
            "price": price,
            "brand": brand
        };

        const response = await fetch('/product/add_product', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        if (response.ok) {
            // Обработка успешного ответа
            window.location.href = '/pages/main'; // Перенаправление на страницу успеха
        } else {
            // Обработка ошибки
            console.error('Ошибка при добавлении товара');
        }
    }
</script>


{% endblock %}